<link rel="stylesheet" href="/css/loginStyle.css">

<div class="loginBox">
    <div class="formBox">
        <form class="needs-validation" action="http://localhost:8000/login" method="POST" novalidate>
            <div class="form-row">

                <div class="col">
                    <label class="mb-2" for="password">Phone number</label>
                    <input type="phone" class="form-control py-2" name="phone" id="phone">
                </div>
            </div>




            <div class="col-12  btnMy">
                <button class="btn btn-primary" type="submit">login</button>
            </div>

        </form>
    </div>
</div>